<a href="https://colab.research.google.com/github/yashveersinghsohi/Kaggle_Competitions/blob/HousePrice/House%20Prices/Submissions/Sub%204%20-%20Boosting%20and%20Stacking/Sub_4_Boosting.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# First Commit from Colab

# Importing Required Packages

In [1]:
import warnings
warnings.filterwarnings("ignore")

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_log_error
from sklearn.model_selection import GridSearchCV

from sklearn.pipeline import Pipeline, make_pipeline
from sklearn.preprocessing import RobustScaler

from sklearn.linear_model import LinearRegression, Lasso, Ridge
from sklearn.ensemble import BaggingRegressor

from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor
import xgboost as xgb
import lightgbm as lgb
from sklearn.ensemble import StackingRegressor

#  Reading Data

In [7]:
train_df = pd.read_csv("train.csv")
test_df = pd.read_csv("test.csv")

train_features_df = pd.read_csv("train_features_df.csv")
test_features_df = pd.read_csv("test_features_df.csv")

In [8]:
train_features_df.head()

   OverallQual  ExterQual  ...  is_BsmtFinSF1_0  is_2ndFlrSF_0
0            7          2  ...                0              0
1            6          1  ...                0              1
2            7          2  ...                0              0
3            7          1  ...                0              0
4            8          2  ...                0              0

[5 rows x 34 columns]

In [9]:
test_features_df.head()

   OverallQual  ExterQual  ...  is_BsmtFinSF1_0  is_2ndFlrSF_0
0            5          1  ...                0              1
1            6          1  ...                0              1
2            5          1  ...                0              0
3            6          1  ...                0              0
4            8          2  ...                0              1

[5 rows x 33 columns]

# Train Test Split

In [10]:
def split_data(df, test_size = 0.2, random_state = 42):
    X, y = df.drop(["SalePrice"], axis = 1), df["SalePrice"]
    return train_test_split(X, y, test_size = test_size, random_state = random_state)

# Adaboost Regressor

## Base AdaBoost Regressor

**Model**

In [11]:
X_train, X_test, y_train, y_test = split_data(train_features_df)
ada = AdaBoostRegressor(random_state = 42).fit(X_train, np.log(y_train))
ada_preds = np.exp(ada.predict(X_test))

**RMSLE**

In [12]:
np.sqrt(mean_squared_log_error(y_true = y_test, y_pred  = ada_preds))

0.17253553560633222

## GridSearchCV

**Defining Grid**

In [13]:
base_ada = AdaBoostRegressor(random_state = 42)
params = {
    "learning_rate": [0.01, 0.03, 0.1, 0.3, 1, 3, 10],
    "n_estimators": [50, 75, 100, 150, 200, 300, 500, 1000],
    "loss": ["linear", "square", "exponential"]
}

grid = GridSearchCV(estimator = base_ada, 
                    param_grid = params, 
                    scoring = "neg_mean_squared_log_error", 
                    cv = 3, 
                    verbose = 3, 
                    n_jobs = -1)

**Fitting Grid**

In [14]:
X_train, X_test, y_train, y_test = split_data(train_features_df)
ada_grid = grid.fit(X_train, np.log(y_train))

Fitting 3 folds for each of 168 candidates, totalling 504 fits

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 2 concurrent workers.
[Parallel(n_jobs=-1)]: Done  28 tasks      | elapsed:   22.8s
[Parallel(n_jobs=-1)]: Done 124 tasks      | elapsed:  1.8min
[Parallel(n_jobs=-1)]: Done 284 tasks      | elapsed:  3.9min
[Parallel(n_jobs=-1)]: Done 504 out of 504 | elapsed:  6.1min finished

**Best AdaBoost from GridSearchCV**

In [15]:
np.sqrt(mean_squared_log_error(y_true = y_test, 
                               y_pred = np.exp(ada_grid.best_estimator_.predict(X_test))))

0.17287705642165474

# GBM Regressor

In [16]:
X_train, X_test, y_train, y_test = split_data(train_features_df)
gbm = GradientBoostingRegressor(random_state = 42).fit(X_train, np.log(y_train))
gbm_preds = np.exp(gbm.predict(X_test))

In [17]:
np.sqrt(mean_squared_log_error(y_true = y_test, 
                               y_pred = gbm_preds))

0.13628312366698758